body{  
    background: linear-gradient(-90deg, #f7f1ff, #f6f1ff, #f5f1ff, #f4f1ff, #f3f1ff, #f2f1ff, #f1f1ff);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: default;
  }  
  
  .container{
    
  }
  
  .card{
      width: 200px;
      height: 230px;
      display: inline-block;
      border-radius: 10px;
      padding: 15px 25px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 15px;
      background-position: center;
      background-size: cover;
      color: #f1f1ff;
      display: inline-flex;
  }
  
  .card1{
      background-image: url(App Development.png);
  }

  .card1 a{
    color: #ffffff;
    text-decoration: none;
    margin: 40px 25px;
  }

  .card2{
    background-image: url(HTD.webp);
  }

  .card2 a{
    color: #ffffff;
    text-decoration: none;
    margin: 40px 25px;
  }
  
  .card3{
      background-image: url(HD.webp);
  }

  .card3 a{
    color: #ffffff;
    text-decoration: none;
    margin: 40px 25px;
  }
  
  .card4{
      background-image: url(Apple.png);
  }

  .card4 a{
    color: #ffffff;
    text-decoration: none;
    margin: 40px 25px;
  }

.card5{
    background-image: url(BTS.jpg);
}

.card5 a{
  color: #ffffff;
  text-decoration: none;
  margin: 40px 25px;
}

.card6{
    background-image: url(8C timetable.jpg);
}

.card6 a{
  color: #ffffff;
  text-decoration: none;
  margin: 40px 25px;
}
 
  .card:hover{
      width: 205px;
      height: 240px;
  }
